* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.js text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.toml text eol=crlf
*.snbt text eol=crlf
*.cfg text eol=crlf
*.ini text eol=crlf
*.properties text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.local text eol=lf
